body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

p{
    font-size: 1vw;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("./Assets/fondo.png");
    min-height: 100%;
}

.w3-bar .w3-button {
    padding: 16px;
}

.eslogan{
    
    font-size: 1.5vw;
    font-family:Lucida;
    color:goldenrod;
    background-color:black;
    position: relative;
    top: 90px;
}

#button_eslogan{
    position: relative;
    top: 60px;
}

#download_button{
    font-size: 200%;
}

.exp{
    
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(0, 0, 0);
    
}


.titlex{
    
    font-size: 35px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:goldenrod;
    
}

.par{
    
    font-size: 65px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(23, 58, 35);
    
}