<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Loading...</title>
    <organization>UPC</organization>
  </app>
  <renderer>
    <vsync value="false"/>
    <background r="35" g="28" b="12" a="155"/>
  </renderer>
  <player>
   <radar cost="50"/>
   <mr_handy cost="10"/>
  </player>
  <AI>
   <vault minimum_melees="5" minimum_rangeds="2" caps="100" water="100" food="100" wave_time="70"/>
   <brotherhood minimum_melees="3" minimum_rangeds="2" caps="100" water="100" food="100" wave_time="70"/>
   <mutant minimum_melees="3" minimum_rangeds="3" caps="100" water="100" food="100" wave_time="70"/>
   <ghoul minimum_melees="5" minimum_rangeds="2" caps="100" water="100" food="100" wave_time="70"/>
  </AI>
  <console>
  <log_box r="20" g="20" b="20" a="225"/>
  <input_box r="20" g="20" b="20" a="245"/>
  </console>
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <fonts>
   <font name="r_fallouty" folder="fallout_fonts" size="24"/>
   <font name="OpenSans-Light" folder="open_sans" size="14"/>
   <font name="StackedPixel" folder="stacked" size="38"/>
    <font name="StackedPixelMedium" folder="stacked" size="32"/>
    <font name="StackedPixelSmall" folder="stacked" size="22"/>
  </fonts>

  <entities>
    <boost>
      <base cost="250" upgrade_time="45" cost_increment="250" storage_increment="0.3" gatherer_capacity="0.15"/>
      <laboratory cost="150" upgrade_time="45" cost_increment="250" health_increment="0.15" creation_time="0.05"/>
      <barrack cost="350" upgrade_time="45" cost_increment="250" damage_increment="0.15" speed_increment="0.15"/>
    </boost>
  </entities>
  <gui>
    <folder>Assets/gui/</folder>
    <ui file1="atlas.png"/>
  </gui>

  <map>
    <folder>Assets/maps/</folder>
  </map>
  <minimap width="300" corner="bottom_left" margin="22"/>
</config>