<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Loading...</title>
    <organization>UPC</organization>
  </app>
  <renderer>
    <vsync value="false"/>
    <background r="0" g="0" b="0" a="0"/>
  </renderer>
  
  <AI>
   <vault minimum_melees="1" minimum_rangeds="1" caps="1000" water="1000" food="1000" wave_time="10"/>
   <brotherhood minimum_melees="1" minimum_rangeds="1" caps="1000" water="1000" food="1000" wave_time="15"/>
   <mutant minimum_melees="1" minimum_rangeds="1" caps="1000" water="1000" food="1000" wave_time="20"/>
   <ghoul minimum_melees="1" minimum_rangeds="1" caps="1000" water="1000" food="1000" wave_time="10"/>
  </AI>
  <console>
  <log_box r="20" g="20" b="20" a="225"/>
  <input_box r="20" g="20" b="20" a="245"/>
  </console>
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <fonts>
   <font name="r_fallouty" folder="fallout_fonts" size="24"/>
   <font name="OpenSans-Light" folder="open_sans" size="14"/>
   <font name="StackedPixel" folder="stacked" size="38"/>
    <font name="StackedPixelMedium" folder="stacked" size="32"/>
    <font name="StackedPixelSmall" folder="stacked" size="22"/>
    <font name="StackedPixelXS" folder="stacked" size="17"/>
  </fonts>

  <entities>

    <boost>
      <base cost="250" upgrade_time="30" cost_increment="250" storage_increment="0.3" gatherer_capacity="0.15"/>
      <laboratory cost="150" upgrade_time="30" cost_increment="250" health_increment="0.15" creation_time="0.05"/>
      <barrack cost="350" upgrade_time="30" cost_increment="250" damage_increment="0.15" speed_increment="0.15"/>
    </boost>
    <radar cost="100" />
    <mr_handy cost="1000" time="50"/>
    <animation_files base_folder="Assets_Old/textures/characters/">
     <file folder="VaultDwellers/" tmx="VaultDwellers_Melee.tmx"/>
     <file folder="VaultDwellers/" tmx="VaultDwellers_Ranged.tmx"/>
     <file folder="VaultDwellers/" tmx="VaultDwellers_Gatherer.tmx"/>
     <file folder="VaultDwellers/" tmx="VaultDwellers_Buildings.tmx"/>
     <file folder="VaultDwellers/" tmx="VaultDwellers_Buildings.tmx"/>
     <file folder="VaultDwellers/" tmx="VaultDwellers_Buildings.tmx"/>
      
     <file folder="Brotherhood/" tmx="Brotherhood_Melee.tmx"/>
     <file folder="Brotherhood/" tmx="Brotherhood_Ranged.tmx"/>
     <file folder="Brotherhood/" tmx="Brotherhood_Gatherer.tmx"/>
     <file folder="Brotherhood/" tmx="Brotherhood_Buildings.tmx"/>
     <file folder="Brotherhood/" tmx="Brotherhood_Buildings.tmx"/>
     <file folder="Brotherhood/" tmx="Brotherhood_Buildings.tmx"/>
      
     <file folder="SuperMutant/" tmx="SuperMutant_Melee.tmx"/>
     <file folder="SuperMutant/" tmx="SuperMutant_Ranged.tmx"/>
     <file folder="SuperMutant/" tmx="SuperMutant_Gatherer.tmx"/>
     <file folder="SuperMutant/" tmx="SuperMutant_Buildings.tmx"/>
     <file folder="SuperMutant/" tmx="SuperMutant_Buildings.tmx"/>
     <file folder="SuperMutant/" tmx="SuperMutant_Buildings.tmx"/>
      
     <file folder="Ghouls/" tmx="Ghouls_Melee.tmx"/>
     <file folder="Ghouls/" tmx="Ghouls_Ranged.tmx"/>
     <file folder="Ghouls/" tmx="Ghouls_Gatherer.tmx"/>
     <file folder="Ghouls/" tmx="Ghouls_Buildings.tmx"/>
     <file folder="Ghouls/" tmx="Ghouls_Buildings.tmx"/>
     <file folder="Ghouls/" tmx="Ghouls_Buildings.tmx"/>
      
     <file folder="Animals/" tmx="Animals_Bighorner.tmx"/>
     <file folder="Animals/" tmx="Animals_Braham.tmx"/>
     <file folder="Animals/" tmx="Animals_Deathclaw.tmx"/>
     <file folder="Mr_Handy/" tmx="Mr_Handy_Mr_Handy.tmx"/>

    </animation_files>
  </entities>
  <gui>
    <folder>Assets/gui/</folder>
    <ui file1="atlas.png"/>
  </gui>

  <map>
    <folder>Assets_Old/maps/</folder>
  </map>
  <minimap width="260" corner="bottom_left" margin="35"/>
</config>