<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
  <entities>
   <vault_dwellers health="100">
   </vault_dwellers>
   <mutants>
   </mutants>
   <ghouls>
   </ghouls>
   <brotherhood>
   </brotherhood>
  </entities>	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <folder>gui/</folder>
    <ui file1="atlas.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>

</config>