<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Loading...</title>
    <organization>UPC</organization>
  </app>
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <gui>
    <folder>gui/</folder>
    <ui file1="atlas.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
  </map>
  <minimap width="300" corner="bottom_left" margin="22"/>
</config>